*/#*#
*log
*projectile*
*~
.emacs.desktop
.litable-lists.el
.mc-lists.el
.session
/ext
/tramp
ac-comphist.dat
anything-c-adaptive-history
bookmarks
bundle.el
credentials.el
customizations.el
el-get
elpa
eshell
games
image-dired
kill-ring-saved.el
newsticker
semanticdb
srecode-map.el
url