*/#*#
*log
*wconf*
*~
.emacs.desktop
.litable-lists.el
.mc-lists.el
.org-id-locations
.projectile
.session
/ext
/tramp
ac-comphist.dat
anything-c-adaptive-history
bookmarks
bundle.el
credentials.el.gpg
customizations.el
el-get
elpa
eshell
games
image-dired
kill-ring-saved.el
newsticker
projectile-bookmarks.eld
projectile.cache
semanticdb
srecode-map.el
url
custom-sandbox.el